<div class = "side-bar">
    <input type="checkbox" id="toggle" class="toggle__checkbox" />
  
    <aside class="box">
    <label for="toggle" class="toggle"><a><i class="ti-bell" style="font-size: 50px;" ></i></a></label>
    <section>
      <p class="box__item" id ="anouncement">Anouncements</h1>
      <p class="box__item lead display-5">
        <ul style = "list-style-type: disc; font-size: 20px;">
        <li><a href = "{{site.baseurl}}/soc-2021" class="box__item display-5 text-dark" ><strong>Results of Seasons of Code 2021</strong></a></li>
        </ul>
      </p>
      </section>
    </aside>
    </div>