{% if site.data.settings.team %}
<!-- team -->
<section class="section bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title" id ="team">Team-DK </h2>
      </div>
    </div>
      <div class ="row justify-content-md-center" >
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card team_card" id = "curve">
          <img src="{{ site.baseurl }}/assets/images/team/DK.jpg" class="card-img-top" width:="350px" height="400px">
            <svg id="curve1">
              <path id="p" d="M0,50 Q80,80 400,50 V150 H0 V50" transform="translate(0 300)" />
              <rect id="dummyRect" x="0" y="0" height="400" width="350"
        fill="transparent" />
              <!-- slide up-->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect.mouseover" end="dummyRect.mouseout" dur="0.001s" id="bounce1" />
              <!-- slide up and curve in -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1.end" end="dummyRect.mouseout" dur="0.07s" id="bounce2" />
              <!-- slide down and curve in -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2.end" end="dummyRect.mouseout" dur="0.07s" id="bounce3" />
              <!-- slide down and curve out -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3.end" end="dummyRect.mouseout" dur="0.05s" id="bounce4" />
              <!-- curve in -->
              <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4.end" end="dummyRect.mouseout" dur="0.07s" id="bounce5" />
  
              <animate xlink:href="#p" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect.mouseout" dur="0.15s" id="bounceOut" />
          </svg>
          <div class="card-footer">
            <div class="connections">
                <div class="connection facebook"><a class="text-dark" href="https://www.facebook.com/divyanshi.kamra.7/"><i class="ti-facebook"></i></a></div>
                <div class="connection linkedin"><a class="text-dark" href="https://www.linkedin.com/in/divyanshi-kamra-36268b1b3/"><i class="ti-linkedin"></i></a></div>
                <div class="connection github"><a class="text-dark" href="https://github.com/divyanshikamra"><i class="ti-github"></i></a></div>
            </div>
          <div class="info">
              <div class="name">Divyanshi Kamra</div>
              <div class="job">Manager</div>
          </div>
          <div class="card-blur"></div>
      </div>
        <!--<div class="card team_card text-center">
          <img src="{{ site.baseurl }}/assets/images/team/DK.jpg" class="card-img-top" width:="350px" height="400px">
          <div class="card-body">
            <h4 class="card-title">Divyanshi Kamra</h4>
            <p class="text-dark font-secondary">Manager</p>
            <div class ="row justify-content-md-center">
              <div class="col col-lg-2">
              <h5><a class="text-dark" href="https://github.com/divyanshikamra"><i class="ti-github"></i></a></h5>    </div>
              <div class="col-md-auto">
                <h5><a class="text-dark" href="https://www.facebook.com/divyanshi.kamra.7/"><i class="ti-facebook"></i></a></h5>
              </div>
              <div class="col col-lg-2">
              <h5><a class="text-dark" href="https://www.linkedin.com/in/divyanshi-kamra-36268b1b3/"><i class="ti-linkedin"></i></a></h5>    </div>
            </div>
          </div>-->
        </div>
      </div>
    <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
      <div class="card team_card" id = "curve">
        <img src="{{ site.baseurl }}/assets/images/team/Shruti.jpeg" class="card-img-top" width:="350px" height="400px">
          <svg id="curve1">
            <path id="p1" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
            <rect id="dummyRect1" x="0" y="0" height="450" width="400"
      fill="transparent"/>
            <!-- slide up-->
            <animate xlink:href="#p1" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect1.mouseover" dur="0.03s" id="bounce11" />
            <!-- slide up and curve in -->
            <animate xlink:href="#p1" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce11.end" dur="0.06s" id="bounce21" />
            <!-- slide down and curve in -->
            <animate xlink:href="#p1" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce21.end" dur="0.06s" id="bounce31" />
            <!-- slide down and curve out -->
            <animate xlink:href="#p1" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce31.end" dur="0.04s" id="bounce41" />
            <!-- curve in -->
            <animate xlink:href="#p1" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce41.end" dur="0.06s" id="bounce51" />

            <animate xlink:href="#p1" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect1.mouseout" dur="1s" id="bounceOut1" />
        </svg>
        <div class="card-footer">
          <div class="connections">
              <div class="connection facebook"><a class="text-dark" href="https://www.facebook.com/shruti.s.50364592/"><i class="ti-facebook"></i></a></div>
              <div class="connection linkedin"><a class="text-dark" href="https://www.linkedin.com/in/shruti-singh-a02714195/"><i class="ti-linkedin"></i></a></div>
              <div class="connection github"><a class="text-dark" href="https://github.com/shruhh"><i class="ti-github"></i></a></div>
          </div>
        <div class="info">
            <div class="name"><h4 class="text-white card-title">Shruti Singh</h4></div>
            <div class="job"><p class="text-white font-secondary">Manager</p></div>
        </div>
        <div class="card-blur"></div>
    </div>
        <!--<div class="card team_card text-center">
          <img src="{{ site.baseurl }}/assets/images/team/Shruti.jpeg" class="card-img-top" width:="350px" height="400px">
          <div class="card-body">
            <h4 class="card-title">Shruti Singh </h4>
            <p class="text-dark font-secondary">Manager</p>
            <div class ="row justify-content-md-center">
              <div class="col col-lg-2">
              <h5><a class="text-dark" href="https://github.com/shruhh"><i class="ti-github"></i></a></h5>    </div>
              <div class="col-md-auto">
                <h5><a class="text-dark" href="https://www.facebook.com/shruti.s.50364592/"><i class="ti-facebook"></i></a></h5>
              </div>
              <div class="col col-lg-2">
              <h5><a class="text-dark" href="https://www.linkedin.com/in/shruti-singh-a02714195/"><i class="ti-linkedin"></i></a></h5>    </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
      <div class="row">
      {% for team-member in site.data.settings.team %}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0 mx-auto">
        <div class="card team_card" id = "curve">
          <div class="card-blur"></div>
          <img src="{{ site.baseurl }}/{{ team-member.image }}" class="card-img-top" width:="350px" height="400px">
            <svg id="curve1">
              <path id="p{{team-member.i}}" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
              <rect id="dummyRect{{team-member.i}}" x="0" y="0" height="400" width="350"
        fill="transparent" />
              <!-- slide up-->
              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect{{team-member.i}}.mouseout" dur="0.15s" id="bounceOut{{ team-member.i }}" />

              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect{{ team-member.i }}.mouseover" end="dummyRect{{ team-member .i}}.mouseout" dur="0.1s" id="bounce1{{team-member.i}}" />
              <!-- slide up and curve in -->
              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1{{ team-member.i }}.end" end="dummyRect{{ team-member.i }}.mouseout" dur="0.15s" id="bounce2{{team-member.i}}" />
              <!-- slide down and curve in -->
              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2{{ team-member.i }}.end" end="dummyRect{{team-member.i}}.mouseout" dur="0.15s" id="bounce3{{team-member.i}}" />
              <!-- slide down and curve out -->
              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3{{ team-member.i }}.end" end="dummyRect{{team-member.i}}.mouseout" dur="0.1s" id="bounce4{{team-member.i}}" />
              <!-- curve in -->
              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4{{ team-member.i }}.end" end="dummyRect{{team-member.i}}.mouseout" dur="0.05s" id="bounce5{{team-member.i}}" />
  
              <animate xlink:href="#p{{team-member.i}}" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect{{team-member.i}}.mouseout" dur="0.15s" id="bounceOut" />
          </svg>
          <div class="card-footer">
            <div class="connections">
                <div class="connection facebook"><a class="text-dark" href="{{team-member.facebook}}"><i class="ti-facebook"></i></a></div>
                <div class="connection linkedin"><a class="text-dark" href="{{team-member.linkedin}}"><i class="ti-linkedin"></i></a></div>
                <div class="connection github"><a class="text-dark" href="{{team-member.github}}"><i class="ti-github"></i></a></div>
            </div>
          <div class="info">
              <div class="name"> <h4 class="card-title text-white">{{ team-member.title }}</h4></div>
              <div class="job"><p class="text-white font-secondary">{{ team-member.designation }}</p></div>
          </div>
          
      </div>
        <!-- <img src="{{ site.baseurl }}/{{ team-member.image }}" class="card-img-top" width:="350px" height="400px">
          <div class="card-body">
            <h4 class="card-title">{{ team-member.title }}</h4>
            <p class="text-dark font-secondary">{{ team-member.designation }}</p>
            <div class ="row justify-content-md-center">
              <div class="col col-lg-2">
              <h5><a class="text-dark" href="{{team-member.github}}"><i class="ti-github"></i></a></h5>    </div>
              <div class="col-md-auto">
                <h5><a class="text-dark" href="{{team-member.facebook}}"><i class="ti-facebook"></i></a></h5>
              </div>
              <div class="col col-lg-2">
              <h5><a class="text-dark" href="{{team-member.linkedin}}"><i class="ti-linkedin"></i></a></h5>    </div>
            </div>
          </div>-->
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
</section>
<!-- /team -->
{% endif %}