{% if site.data.settings.experience %}
<!-- experience -->
<section class="section">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-lg-10 text-center">
        <h3 class="section-title">{{ site.data.settings.experience-title }}</h3>
      </div>
      {% for experience in site.data.settings.experience %}
      <div class="col-lg-3 col-md-4 text-center mb-4">
        <img class = "mb-3 col-md-auto" style = "border-radius: 25%; object-fit: none;"src="{{ site.baseurl }}/assets/images/experience/{{ experience.icon }}" alt="{{ site.data.settings.experience-title }} icon">
        <a href="{{ experience.link }}" class="btn btn-md btn-primary">Click here to Join</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./experience -->
{% endif %}
