{% if site.data.settings.team %}
<!-- team -->
<section class="section bg-cover">
  <div class="container-fluid">
      <div class="col-10">
        <h1 id = "section-title" class="section-title team-title">The Team </h1>
    </div>
      <div class='team-info rounded'><span id='teamtext'></span>
      <div class='console-underscore' id='teamconsole'>&#95;</div></div>
      <div class ="images float-center">
        
        <section class="team-section">
          <div class="team-member" tabindex="0"  style = "grid-row:1/4; grid-column:2">
            <img class = "team-image" src = "{{site.baseurl}}/assets/images/team/himanshu1.png" id ="Himanshu">
          </div>
          <div class="team-member" tabindex="0"  style = "grid-row:1/4; grid-column:3">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/Karrthik1.png" id ="Karrthik">
          </div>
          
          <div class="team-member" tabindex="0"  style = "grid-row:1/4; grid-column:4">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/DK1.png" id ="DK">
          </div>

          <div class="team-member" tabindex="0"  style = "grid-row:1; grid-column:5">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/jash1.png" id ="Jash">
          </div>

          <div class="team-member" tabindex="0"  style = "grid-row:1; grid-column:6">
            <img class = "team-image" src = "{{site.baseurl}}/assets/images/team/Subarno2.png" id ="Subarno">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:1">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/Ishit2.png" id ="Ishit">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:2; margin-left:-50px">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/sarthak1.png" id ="Jash">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:3">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/shubh.png" id ="Jash">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:4">
            <img class = "team-image" src = "{{site.baseurl}}/assets/images/team/shruti1.png" id ="Jash">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:5">
            <img class = "team-image" src = "{{site.baseurl}}/assets/images/team/ved.png" id ="Jash">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:6">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/Vrinda1.png" id ="Jash">
          </div>

          <div class="team-member" tabindex="0" style = "grid-row:2; grid-column:7">
            <img class = "team-image"  src = "{{site.baseurl}}/assets/images/team/shreedhar1.png" id ="Jash">
          </div>
          
        </section>
      
      </div>
  </div>
</section>
<!-- /team -->
{% endif %}