---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white display-1">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <img src="{{ site.baseurl }}/assets/images/illustrations/matrix.png" alt="illustrations" class=" w-100" style= "z-index:-1; margin-top:-500px; opacity:0.5; max-height: 500px; object-fit: cover;">

</section>
<!-- /page title -->

{{ content }}